.testimonial {
  width: 75%;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.testimonial h1 {
  font-size: 2.25rem;
  background-color: #071eb3;
  color: white;
  width: 389px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.77px;
  font-weight: 900;
}
